<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>BebasNeue-Regular.ttf</string>
		<string>Cinzel-Bold.ttf</string>
		<string>BlackOpsOne-Regular.ttf</string>
		<string>Playfair-Italic.ttf</string>
		<string>Orbitron-Bold.ttf</string>
	</array>
</dict>
</plist>
